@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    font-family: "Inter", sans-serif;
}
textarea {
    font-family: 'Arial', sans-serif;
}
.flex{
    display: flex;
}
.w-full{
    width: 100%;
}
:root {
    --dark-blue: #05263F;
    --light-gray: #F2F1F6;
    --dark-gray: #77777C;
    --light-blue: #107FD1;
    --light-red: #FF3B30;
    --deep-dark-gray: #1C1C1E;
}
h1{
    margin: 0;
    color: var(--deep-dark-gray);
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.semibold-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.medium-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.small-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.text-red{
    color: var(--light-red);
}
.text-light-gray{
    color: var(--light-gray);
}
.text-dark-gray{
    color: var(--dark-gray);
}
.zero-height-text-input {
    height: 0px;
}